PORT=3001
NODE_VERSION=20
DATABASE_URL=postgresql://device_lock_user:ySG1Ey3QM2H8UqbjxmFIu6B5GdesYlrV@dpg-d7sjl00sfn5c73a393q0-a/device_lock
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,https://slothr.us,https://talivo.us
TRUST_PROXY=true
CALENDLY_API_BASE_URL=https://api.calendly.com
CALENDLY_API_TOKEN=eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzgwOTMzOTA5LCJqdGkiOiI4NjBhZjU2NS01NjQ1LTRhNmUtODAwMC1mY2QzZTlhZDY1ZGYiLCJ1c2VyX3V1aWQiOiIxNmE3MzM2NS1lMmQwLTRhMjMtYjYyZi0wMDc1NTYzYWQyZDciLCJzY29wZSI6ImF2YWlsYWJpbGl0eTpyZWFkIGF2YWlsYWJpbGl0eTp3cml0ZSBldmVudF90eXBlczpyZWFkIGV2ZW50X3R5cGVzOndyaXRlIGxvY2F0aW9uczpyZWFkIHJvdXRpbmdfZm9ybXM6cmVhZCBzaGFyZXM6d3JpdGUgc2NoZWR1bGVkX2V2ZW50czpyZWFkIHNjaGVkdWxlZF9ldmVudHM6d3JpdGUgc2NoZWR1bGluZ19saW5rczp3cml0ZSBncm91cHM6cmVhZCBvcmdhbml6YXRpb25zOnJlYWQgb3JnYW5pemF0aW9uczp3cml0ZSB1c2VyczpyZWFkIGNvbnRhY3RzOnJlYWQgY29udGFjdHM6d3JpdGUgYWN0aXZpdHlfbG9nOnJlYWQgZGF0YV9jb21wbGlhbmNlOndyaXRlIG91dGdvaW5nX2NvbW11bmljYXRpb25zOnJlYWQgd2ViaG9va3M6cmVhZCB3ZWJob29rczp3cml0ZSJ9.EoAvAvcIpDV_PT28umQFTNljyie59QK0qwhH_M1HjZx0vhNPia__PsRmEqMmlD_NdI-DAxf4NJpSbf9CTgpSBg
CALENDLY_EVENT_TYPE_URI=https://api.calendly.com/event_types/a79cde25-e1b3-46a1-91da-4cd1262ec3ae
CALENDLY_SLOT_MINUTES=30
GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbxkAr7LscY56h3ftmEpsDuCAdIiKrPDieXjAUaNDPaQ-O9DwZM9XCgIrhVyoLZeashRDg/exec
TELEGRAM_BOT_TOKEN=8529798932:AAEWJFRbtQtSonLvd_zcp45pzThu1h-oqjQ
TELEGRAM_CHAT_ID=-1003902443465