PORT=3001
NODE_VERSION=20
DATABASE_URL=postgresql://device_lock_user:ySG1Ey3QM2H8UqbjxmFIu6B5GdesYlrV@dpg-d7sjl00sfn5c73a393q0-a/device_lock
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,https://talivo.us,https://vizhire.us,https://gradze.us
TRUST_PROXY=true
CALENDLY_API_BASE_URL=https://api.calendly.com
CALENDLY_API_TOKEN=eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzc4NjI3NTEwLCJqdGkiOiJhOWQ2Yjg2MS1lNzgyLTRiOGUtYjY5Ni1lYTkyNGQ1NGY5YWQiLCJ1c2VyX3V1aWQiOiI2MGU1MTE2OS05NDJiLTQxNjYtOWYxZi00ODA0ZWI0MWM4NDgiLCJzY29wZSI6ImF2YWlsYWJpbGl0eTpyZWFkIGF2YWlsYWJpbGl0eTp3cml0ZSBldmVudF90eXBlczpyZWFkIGV2ZW50X3R5cGVzOndyaXRlIGxvY2F0aW9uczpyZWFkIHJvdXRpbmdfZm9ybXM6cmVhZCBzaGFyZXM6d3JpdGUgc2NoZWR1bGVkX2V2ZW50czpyZWFkIHNjaGVkdWxlZF9ldmVudHM6d3JpdGUgc2NoZWR1bGluZ19saW5rczp3cml0ZSBncm91cHM6cmVhZCBvcmdhbml6YXRpb25zOnJlYWQgb3JnYW5pemF0aW9uczp3cml0ZSB1c2VyczpyZWFkIGFjdGl2aXR5X2xvZzpyZWFkIGRhdGFfY29tcGxpYW5jZTp3cml0ZSBvdXRnb2luZ19jb21tdW5pY2F0aW9uczpyZWFkIHdlYmhvb2tzOnJlYWQgd2ViaG9va3M6d3JpdGUifQ.AA6abQwJ4P4NR3XdDvsFcq2AruKAzQFd_V7m8n3ypP6Irx-s7cJG3Nqfd-QdaPNi39uMRSNZzZP2CGJ0XyW9Pg
CALENDLY_EVENT_TYPE_URI=https://api.calendly.com/event_types/1910b8f7-fc06-48c3-ace0-4f5ab99e446d
CALENDLY_SLOT_MINUTES=30
TELEGRAM_BOT_TOKEN=8529798932:AAEWJFRbtQtSonLvd_zcp45pzThu1h-oqjQ
TELEGRAM_CHAT_ID=8709207593